# Hardhat files
cache/
artifacts/
typechain-types/

# Solc build artifacts
*.abi
*.bin

# Node
node_modules/
package-lock.json

# Environment
.env
.env.local

# Logs
*.log

# Coverage
coverage/
coverage.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
